extends layout

block content
  div 
    p Messages 
  div 
    if messages 
      for message in messages 
        div.message-card
          p.message-title= message.title 
          p.message-content= message.content 
    else 
      p There are no messages.

    
