extends layout

block content
  div 
    p Messages 
  div 
    if messages.length
      for message in messages 
        div.message-card
          p.message-title= message.title 
          p.message-content= message.message
          if !admin || !member
            div
              p Note: Sign up AND become a member to see who wrote this message and when
    else 
      if user
        a(href="/message-form") New Message 
      p There are no messages.

    
