doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
    div
      p AuthClub 
    div 
      a(href="/login") Log In
      a(href="/signup") Sign Up
    block content
