extends layout

block content
    div.back-link-container
        a.back-link(href="/") <- Back 
    div.form-page
        div.form-container
            h1.form-title Enter The Secret
            if status === "non-member"
                h3.form-message Solve: 3 + 2
                h3.form-message !{message}
                form(method="POST" action="/secret-form-member")
                    div.form-group
                        input(type="text" name="code" placeholder="Answer" required)
                    button.btn(type="submit") Join
            else 
                h3.form-message Solve: 4x - 8 = 0
                h3.form-message !{message}
                form(method="POST" action="/secret-form-admin")
                    div.form-group
                        input(type="text" name="code" placeholder="Answer" required)
                    button.btn(type="submit") Join