extends layout

block content
    h1 Enter The Secret
    if status === "non-member"
        h3 3 + 2
        form(method="POST" action="/secret-form-member")
            div.form-group
                input(type="text" name="code" placeholder="Answer" required)
            button.btn(type="submit") Join
    else 
        h3 Solve: 4x - 8 = 0
        form(method="POST" action="/secret-form-admin")
            div.form-group
                input(type="text" name="code" placeholder="Answer" required)
            button.btn(type="submit") Join