/* GENERAL SETTINGS */

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #374151;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

.btn {
  color: white;
  font-family: inherit;
  background-color: #6366f1;
  padding: 1rem 1rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #ebebeb;
  padding: 1rem 3rem;
}

.app-title-one,
.app-title-two {
  font-size: 2rem;
  font-weight: 700;
}

.app-title-one {
  color: #6366f1;
}

.header-btns {
  display: flex;
  gap: 20px;
}

.header-btns > * {
  padding: 10px;
  font-size: 0.8rem;
  width: 5rem;
  text-align: center;
}

/* MAIN CONTENT OF HOMEPAGE */

.main-content {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  flex-grow: 1;
}

.main-title-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 2rem;
  font-weight: 700;
}

/* MESSAGE CARD STYLES */

.message-card {
  padding: 1.5rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgb(164, 164, 164);
  line-height: 1.7rem;
  flex-grow: 1;
}

.message-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-title {
  font-size: 1.35rem;
  font-weight: 700;
}

.messages-cards-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1.5rem;
}

.message-content {
  font-size: 0.8rem;
}

.message-container {
  border-top: 1px solid #ebebeb;
  margin-top: 1rem;
  padding: 1rem 0;
}

.message {
  font-size: 1rem;
}

.message-warning-container {
  border-top: 1px solid #ebebeb;
  padding-top: 1rem;
}

.message-warning {
  font-size: 0.8rem;
}

/* FORM PAGES STYLES */

.form-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-link-container {
  z-index: 1;
  padding: 1rem;
}

.back-link {
  color: #374151;
  font-size: 1.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form-title {
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
}

.form-message {
  align-self: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid #ebebeb;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: inherit;
}

form {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 1rem;
}
